@import "bootstrap";

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn-help {
  height: 15vw;
  width: 15vw;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  font-size: 1.3rem;
  z-index: 2;
}

#jira-form {
  width: 40vw;
  max-width: 500px;
  z-index: 2;
}

.items,
.collections,
.users,
.issues {
  padding: 0;
}

.width-limit {
  max-width: 1000px;
}

.width-limit-sm {
  max-width: 700px;
}

.actions svg {
  height: 24px;
  width: 24px;
}

.actions .like-count {
  font-size: 18px;
  font-weight: 600;
}

.comments {
  position: static;

  .toast {
    width: 100%;
  }
}

.comment {
  .avatar {
    width: 20px;
    height: 20px;
  }

  button {
    padding: 3px 5px;
    line-height: 0.9rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;

    svg {
      height: 0.9rem;
    }
  }
}

.item,
.user,
.collection,
.comment {
  textarea,
  input {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    backdrop-filter: brightness(120%);
    outline: $secondary 1px solid;
  }
}

.img-container {
  max-height: 400px;
  overflow: hidden;
}

.card-img-top {
  border-radius: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.nav {
  background-color: rgb(49, 58, 49);
}

.outlet {
  flex: 1;
}

.green-bg {
  background-color: rgb(49, 58, 49);
  border-radius: 0.6rem;
}

.click-above {
  position: relative;
  z-index: 1;
}

.tag {
  @extend a;
}

.home-container {
  max-width: 1700px;
}

.initials {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: $light;
  font-size: 1rem;
  border-radius: 50%;
  background-color: $success;
}

.searchbar {
  width: 14rem;
}

.profile-card {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.4rem;
  padding: 0.8rem;
}

.edit-delete button {
  width: 20%;
}

.profile-card:hover {
  outline: $success 1px solid;
}

.text-link,
.text-link a {
  color: $success;
  text-decoration: none;
  z-index: 1;
}

.text-link:hover {
  cursor: pointer;

  a {
    filter: brightness(120%);
    text-decoration: underline;
  }
}

.odd-col {
  backdrop-filter: brightness(120%);
}

.border-b:not(:last-child) {
  border-bottom: 1px solid $gray-600;
}

.item-link:hover {
  cursor: pointer;
  background-color: $gray-800;
}

.accordion {
  --bs-accordion-border-color: #198754;
  --bs-accordion-btn-color: $light;
  --bs-accordion-btn-bg: #198754;
  --bs-accordion-active-color: $gray-400;
  --bs-accordion-active-bg: $gray-800;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #19875438;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  @extend .form-control;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container--open {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid $gray-600;
  background-color: $dark;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $gray-600;
}

.btn-wide {
  width: 100%;
}
